<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.android.simulator.launchConfigurationType">
<booleanAttribute key="ATTR_CLEAN_BEFORE_LAUNCH" value="true"/>
<stringAttribute key="ATTR_LOG_LEVEL" value="Info"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="OnibusSjc"/>
<stringAttribute key="abi" value="armeabi"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OnibusSjc"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="screen_type" value="HVGA"/>
<stringAttribute key="sdk_version" value="Android 2.2"/>
</launchConfiguration>
